<h1>All Posts</h1>


<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>File</th>
            <th>Title</th>
            <th>Category</th>
            <th>Status</th>
            <th>Allow Comments</th>
            <th>Read The Post</th>
            <th>Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each posts}}
        <tr>
            <td>{{_id}}</td>
            <td><img height="50px" src="/upload/{{file}}" alt=""></td>
            <td>{{title}}</td>
            <td>{{category.name}}</td>
            <td>{{status}}</td>
            <td>{{allowComments}}</td>
            <td><a href="/posts/{{slug}}">View</a></td>
            <td>{{generateTime date 'MMM Do YYYY'}}</td>


        </tr>
        {{/each}}
    </tbody>


</table>